=semantic_form_for @message do |message|
  %div.target
    =user_preview @user, :medium
  =message.input :receiver_id, :as => :hidden
  =message.input :subject
  =message.input :body
  =message.buttons do
    =message.submit