-content_for :styles do
  =stylesheet_link_tag "pages/messages"
%div#messages
  .messages_content_wrapper
    .messages_content
      =curly_header t("message." << params[:type], :count => @unread_messages.length)
      -if @unread_messages.empty?
        %div.empty=t("message.index.empty")
      -else
        -@unread_messages.each do |message|
          =render "preview", :message => message 
  =render "panel"