%div#messages
    =curly_header User.human_attribute_name(:messages) << " (#{@unread_messages.count})"
    -if @unread_messages.empty?
        %div.empty=t("message.index.empty")
    -else
        -@unread_messages.each do |message|
            =render "preview", :message => message