.comment{:id => "comment_#{comment.id}"}
  .comment-head
    .comment-info
      =#comment.user.profile.image.url(:medium)
      .small-avatar.left
      .author.left
        =comment.user.profile.full_name
      .created-at.right
        =comment.created_at.strftime("%e.%m.%Y %T")

  .comment_message
    =comment.content
  .actions
    =link_to "Ответить", "#", :class => "reply" if user_signed_in?
    .likes.right
      0

  -if user_signed_in?
    -@parent = comment
    .reply{:style => "display:none;"}
      =render "comments/form"