.comment_body{:id => "comment_#{comment.id}", :"data-id" => comment.id}
  .comment_left
    =image_tag comment.user.profile.image(:small)
  .comment_right
    =link_to comment.user.profile.full_name, user_path(comment.user), :class => "comment-author"
    %span.comment_date=comment.created_at.strftime("%e.%m.%Y %T")
    .comment_content=comment.content
    =js_link t("comment.reply"), :class => "comment_reply"