.comment_form
  -form_for [@commentable, @comment], :remote => true, :html => {:id => (form_id rescue "comment_new")} do |form|
    -if reply_form
      =form.hidden_field :parent_id, :class => "id"
    =form.text_area :content, :class => "content"
    %p.buttons
      =form.submit t("comment.form.submit")
      =button t("comment.form.cancel"), :class => "cancel"