.comment_form
  -form_for [@commentable, @comment] do |form|
    =form.hidden_field :parent_id
    %p
      %h2
        =t("comment.new.header")
      =form.text_area :content, :class => "content"
    %p
      =form.submit t("comment.new.button")