@charset "UTF-8";
body {
  font: 13px/1.5em Arial;
  background: white;
  color: #222222; }

/* links */
a.big_link {
  font: 1.5em/1.5em Georgia; }

/* headers */
h1 {
  font: 2em/2em Georgia;
  margin: 0 0 0.5em 0; }
  h1 a.header_small_link {
    float: right;
    display: inline-block;
    font: 0.5em/1em Arial;
    margin: 1.5em 0 0 1em; }

h2 {
  margin: 0 0 0.5em 0;
  font: italic 1.5em/1.5em Georgia;
  color: #666666; }

/* forms */
form {
  /*text fields */
  /* заменить на комбобокс */
  /*radio & checkbox */
  /*buttons */ }
  form fieldset, form fieldset ol {
    margin: 0;
    padding: 0;
    border: 0; }
  form fieldset {
    margin: 0 0 20px 0; }
  form input[type=text], form input[type=password], form input[type=email], form input[type=url], form input[type=color], form input[type=number], form textarea, form select {
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 200px;
    height: 1.5em;
    margin: 0;
    padding: 5px;
    background: url(images/inner_shadow.png) no-repeat;
    border: solid 1px #bbbbbb; }
    form input[type=text]:focus, form input[type=password]:focus, form input[type=email]:focus, form input[type=url]:focus, form input[type=color]:focus, form input[type=number]:focus, form textarea:focus, form select:focus {
      border: solid 1px #888888; }
    form input[type=text].small, form input[type=password].small, form input[type=email].small, form input[type=url].small, form input[type=color].small, form input[type=number].small, form textarea.small, form select.small {
      width: 100px; }
    form input[type=text].large, form input[type=password].large, form input[type=email].large, form input[type=url].large, form input[type=color].large, form input[type=number].large, form textarea.large, form select.large {
      width: 400px; }
  form textarea {
    width: 400px;
    height: 180px; }
  form select {
    height: 2.5em;
    padding: 5px; }
  form input[type=checkbox], form input[type=radio] {
    padding: 0;
    margin: 0 5px 0 0; }
  form input[type=submit], form input[type=button], form input[type=reset], form button {
    line-height: 1.5em;
    padding: 5px 10px;
    text-align: center;
    background: #eeeeee;
    border: solid 1px #999999;
    border-radius: 5px; }
    form input[type=submit]:hover, form input[type=button]:hover, form input[type=reset]:hover, form button:hover {
      background: #ede6cf; }
  form li.input {
    position: relative;
    margin: 0 0 15px -5px;
    list-style: none; }
    form li.input .label {
      display: inline-block;
      width: 110px;
      margin: 0 10px 0 0;
      padding: 6px 10px 5px 5px;
      border-bottom: dashed 1px #cccccc; }
    form li.input.stringish input, form li.input.stringish textarea, form li.input.text input, form li.input.text textarea {
      display: inline-block; }
    form li.input.stringish input, form li.input.text input {
      bottom: 0; }
    form li.input.stringish textarea, form li.input.text textarea {
      top: 0; }
    form li.input.boolean {
      margin-left: 120px;
      padding: 5px 0; }
    form li.input.radio fieldset {
      margin: 0;
      padding: 0;
      border: 0; }
      form li.input.radio fieldset legend {
        margin: 0;
        padding: 0;
        border: 0;
        float: left; }
      form li.input.radio fieldset ol {
        margin: 0;
        padding: 0;
        border: 0;
        list-style: none;
        margin-left: 120px; }
    form li.input.date legend {
      float: left; }
    form li.input.date .fragments-group {
      list-style: none;
      float: left; }
      form li.input.date .fragments-group .fragment {
        float: left;
        margin-right: 10px; }
        form li.input.date .fragments-group .fragment label {
          display: none; }
        form li.input.date .fragments-group .fragment select {
          width: 100px; }
    form li.input .inline-errors {
      margin: 0;
      padding: 0;
      border: 0;
      dislpay: block;
      position: absolute;
      overflow: hidden;
      width: 200px;
      left: 340px;
      top: 0;
      z-index: 100; }
  form .buttons {
    margin: 0;
    padding: 0;
    border: 0; }
    form .buttons input, form .buttons button {
      margin: 0 10px 0 0; }
    form .buttons ol {
      margin: 0;
      padding: 0;
      border: 0;
      margin: 0 0 0 130px; }

dl.values dt {
  float: left;
  width: 120px;
  color: #666666; }
dl.values dd {
  margin: 0 0 0.5em 130px; }

div.block {
  padding-bottom: 1em; }

#toolbar_wrapper {
  padding: 10px;
  background: #222222;
  color: #aaaaaa; }
  #toolbar_wrapper #toolbar {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden; }
    #toolbar_wrapper #toolbar a {
      color: white; }
    #toolbar_wrapper #toolbar .left {
      float: left; }
    #toolbar_wrapper #toolbar .right {
      float: right; }
    #toolbar_wrapper #toolbar .session_action {
      margin-left: 10px;
      padding-left: 10px;
      border-left: solid 1px #aaaaaa; }

header {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  overflow: hidden; }
  header #logo {
    float: left;
    width: 256px;
    height: 81px;
    background: url(images/logo.png); }
  header #search {
    float: right; }

nav {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  overflow: hidden;
  padding: 10px 10px;
  background: #ede6cf; }
  nav a {
    display: block;
    float: left;
    padding: 5px 10px;
    color: #222222;
    border-right: solid 1px #aaaaaa;
    text-decoration: none; }
    nav a:hover {
      background: #f0ebce; }
    nav a:visited {
      color: #222222; }

#messages {
  width: 940px;
  margin-left: auto;
  margin-right: auto; }

#main {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
  margin-top: 10px;
  margin-bottom: 40px;
  overflow: hidden; }

#content {
  margin: 0 270px 0 0;
  padding: 0 10px; }

aside {
  position: absolute;
  right: 0;
  top: 0;
  width: 250px;
  padding: 10px;
  background: #ede6cf; }

footer {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-top: solid 1px #222222; }
