%h1=t("user.registration.title")
%p=t("user.registration.bride_text")
=link_to t("user.registration.bride_link"), "/registration/bride", :class => "big_link"
%p=t("user.registration.vendor_text")
=link_to t("user.registration.vendor_link"), "/registration/vendor_link", :class => "big_link"