%h1=t("user.login.title")
-semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |user|
	=user.input :email
	=user.input :password
	=user.input :remember_me, :as => :boolean
	=user.buttons do
		=user.submit t("user.login.submit")
=render :partial => "devise/shared/links"