-content_for :styles do
    =stylesheet_link_tag "pages/profile"
%div#profile
    %div.sidebar
        =image_tag @user.profile.image.url:large
    %div.main
        %h1
            =@user.profile.full_name
            -if @user == current_user
                =link_to t("user.edit.profile.link"), edit_profile_path, :class => "header_small_link"
        .block
            =values_for @user.profile do |fields|
                =fields.value :wedding_date
                =fields.value :city_name
                =fields.value :registry_name
        .block
            =curly_header BrideProfile.human_attribute_name(:about_wedding)
            %div=@user.profile.about_wedding
        .block.comments
            =curly_header t("comment.header", :n => @comments.count)
            .comments_list
                =nested_comments(@comments)
            .add_comment
                =render("comments/form", :reply_form => false)
            .reply_form
                =render("comments/form", :form_id => "reply_form", :reply_form => true)