.post
	.info
		.category
			Идеи и советы
		%h1
			=@post.title
		.author
			=@post.author.profile.full_name
		.counters
			.left
				=@post.created_at # TODO: use i18n from date.ru.yml
			.right
				=@post.likes.count
				=@post.favorites.count
	-if @post.image.file?
		.image
			=image_tag @post.image.url(:giant)
	.content
		=raw @post.content
	.bottom
		.left
			tags
		.right
			%a add_to_favorite
			%a i_like_it
	.clear
	.comments
		=render "comments/form"
		%h2.header
			=t("comment.header", :n => 4)
		=nested_comments(@comments)
		-#-@post.comments.each do |comment|
		-#	=comment.content