%nav
  =link_to t("main.nav.ideas")
  =link_to t("main.nav.reports")
  =link_to t("main.nav.diy")
  =link_to t("main.nav.honeymoon")
  =link_to t("main.nav.sale")
  =link_to t("main.nav.companies")
  =link_to t("main.nav.discussions"), '#', :class => "last"