#toolbar_wrapper
	#toolbar
		-if user_signed_in?
			.left
				=t("user.toolbar.signed_as")
				=link_to current_user.profile.full_name, current_user
			.right
				.logout=link_to t("user.logout.link"), destroy_user_session_path, :method => :delete
		-else
			.left
			.right
				=link_to t("user.registration.link"), new_bride_registration_path, :class => "registration"
				=link_to t("user.login.link"), new_user_session_path